<section class="learning_part" id="learnig">
  <div class="container-fluid">
    <div class="row align-items-sm-center align-items-lg-stretch">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 text-center">
        <div class="learning_img flot-bob-y">
         <div class="row mx-0">
           <div class="col-12 col-sm-12 col-md-1 col-lg-3 text-center "></div>
           <div class="col-12 col-sm-12 col-md-10 col-lg-6 text-center">
             <img src="../../../assets/img/learning_img.png" class="w-100" alt="">
           </div>
           <div class="col-12 col-sm-12 col-md-1 col-lg-3 text-center"></div>
         </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="learning_member_text">
          <h5>About us</h5>
          <h2>Learning with Love
            and Laughter</h2>
          <p>Fifth saying upon divide divide rule for deep their female all hath brind Days and beast
            greater grass signs abundantly have greater also
            days years under brought moveth.</p>
          <ul>
            <li><span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas
              gathered wear</li>
            <li><span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given
              night.</li>
          </ul>
          <button class="btn btn-style mt-5 text-white text-center">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
