<section class="feature-style text-center" id="features">
  <div class="container">
    <div class="row justify-content-md-center px-5 pb-5">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">This is what we offer you</h2>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est deserunt mollit anim laborum. Sed perspiciatis unde omnis iste natus.</p>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="card text-center border-0">
          <div class="feature-block-content feature-block-one">
            <div class="icon-box"><img src="../../../assets/img/feature-icon-2.png" alt=""></div>
            <div class="card-body">
              <h3 class="card-title">Expert Instractors</h3>
              <p class="card-text text-muted">Our creativity is driven by data in an effort to give you the best possible result and position your brand for success.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="card text-center border-0">
          <div class="feature-block-content feature-block-one">
            <div class="icon-box"><img src="../../../assets/img/feature-icon-3.png" alt=""></div>
            <div class="card-body">
              <h3 class="card-title">Learn Anywhere</h3>
              <p class="card-text text-muted">Our creativity is driven by data in an effort to give you the best possible result and position your brand for success.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
        <div class="card text-center border-0">
          <div class="feature-block-content feature-block-one">
            <div class="icon-box"><img src="../../../assets/img/feature-icon-4.png" alt=""></div>
            <div class="card-body">
              <h3 class="card-title">Unlimited Access</h3>
              <p class="card-text text-muted">Our creativity is driven by data in an effort to give you the best possible result and position your brand for success.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
