<section class="footer-subscribe_part" id="subscribe">
  <div class="footer-subscribe">
    <div class="image-box"><figure class="image flot-bob-y"><img src="../../../assets/img/footer-subscribe-2.png" alt=""></figure></div>
    <div class="container">
      <div class="footer-subscribe-form">
        <form action="#" method="post" class="subscribe-form">
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-12 col-sm-12 col-md-12 col-lg-8 py-2">
                <input type="email" name="email" placeholder="Type Your Email" required="true" />
              </div>
              <div class="col-12 col-sm-12 col-sm-12 col-md-12 col-lg-4 py-2">
                <button type="submit" class="btn-style btn text-white">Subscribe Now</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
