<div class="wrapper w-100 min-vw-100" id="home">
  <div class="banner" style="background-image: url('../../assets/img/banner-4.png')">
    <div class="container-fluid px-5 clearfix">
      <div class="inner-box pt-5">
        <div class="content-box aos-init aos-animate" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
          <h1>Making Your Childs World Better</h1>
          <div class="text">Our modern and creative studio offers the perfect place to
            collaborate on your project with our team</div>
        </div>
        <div class="image-box">
          <figure class="image-1 flot-bob-y d-none d-md-block "><img src="../../assets/img/banner-img-5.png" class="vw-25" alt=""></figure>
          <figure class="image-2 flot-bob-y d-none d-md-block"><img src="../../assets/img/banner-img-6.png" alt=""></figure>
          <figure class="image-3 flot-bob-y d-none d-md-none d-lg-block " ><img src="../../assets/img/banner-img-7.png" alt=""></figure>
          <figure class="image-4 flot-bob-y d-none d-md-none d-lg-block"><img src="../../assets/img/banner-img-8.png" alt=""></figure>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div>
      <app-features></app-features>
      <app-learning></app-learning>
      <app-user-details></app-user-details>
      <app-courses></app-courses>
      <app-courses-list></app-courses-list>
      <app-subscribe></app-subscribe>
    </div>
  </div>
</div>
