<footer class="footer_part text-white pb-0">
  <div class="footer_top" style="background-image: url('../../../assets/img/banner-4.png')">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="footer_widget text-lg-left text-center p-5  p-lg-0">
            <h3 class="footer_title">
              Ed - Plus
            </h3>
            <p>
              Firmament morning sixth subdue darkness creeping gathered divide our let god moving.
              Moving in fourth air night bring upon it beast let you dominion likeness open place day
              great.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
          <div class="footer_widget">
            <h3 class="footer_title">
              Address
            </h3>
            <p>
              200, D-block, Green lane Chennai <br>
              +91 367 467 8934 <br>
              contect@contact.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="scroll-top scroll-to-target open" *ngIf="isShow" (click)="gotoTop()">
    <span class="fa fa-arrow-up"></span>
  </button>
</footer>
